<a href="https://colab.research.google.com/github/DelaprovidenciaCpE/CPE009A---CPE12S2-OOP1/blob/main/LOOP_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# For Loop

In [2]:
week = ["sunday", "monday", "tuesday", "wednesday", "thursday", "friday", "sunday"]
for x in week:
  print(x)

sunday
monday
tuesday
wednesday
thursday
friday
sunday

# **Break Statement**

In [14]:
week = ["sunday", "monday", "tuesday", "wednesday", "thursday", "friday", "sunday"]
for x in week:
  print(x)
  if x == "thursday":
    break

sunday
monday
tuesday
wednesday
thursday

Example3

In [38]:
week = ["sunday", "monday", "tuesday", "wednesday", "thursday", "friday", "saturday"]
for x in week:
  if x == "thursday":
    break
print(x)

thursday

# Looping through String

In [42]:
for x in "week":
 print(x)

w
e
e
k

# The range() Function

In [44]:
for x in range(6):
 print(x)

0
1
2
3
4
5

In [75]:
for x in range(2,6,2):
 print(x)

2
4

# Nested Loops

In [79]:
#Example1
adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]
for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

# While Loop

In [83]:
i = 1
while i<6:
  print(i)
  i += 1 #i = i+1 Assignment operator

1
2
3
4
5

#The break statement while loop

In [96]:
i = 1
while i < 6:
  print(i)
  if i == 3:
   break
  i += 1

1
2
3

# The continue statement

In [108]:
i=0
while i<6:
  i+=1
  if i==3:
   print(i)
   continue

3

# Else statement

In [110]:
i = 1
while i<6:
  print(i)
  i+=1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [120]:
h = ["hello"]
n = ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10",]
for x in h:
  for y in n:
    print(x,y)

hello 0
hello 1
hello 2
hello 3
hello 4
hello 5
hello 6
hello 7
hello 8
hello 9
hello 10

In [119]:
i = 0
while i < 11:
  print("hello", i)
  i+=1

hello 0
hello 1
hello 2
hello 3
hello 4
hello 5
hello 6
hello 7
hello 8
hello 9
hello 10

# 5pts

In [122]:
#create a python program that displays integers less than 10 but not less than 3
#5points
i = 3
while i<10:
  print(i)
  i+=1

3
4
5
6
7
8
9